DB_HOST=localhost
DB_PORT=5432
DB_NAME=cusfit
DB_USERNAME=cusfit
DB_PASSWORD=cusfit

REDIS_HOST=localhost
REDIS_PORT=6379

OAUTH2_ISSUER_URI=

AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=

FIREBASE_CREDENTIALS_PATH=

LOKI_URL=
